.intro
    display: flex
    align-items: center
    justify-content: center
    background: url("./images/img_home-bg.jpg")
    background-size: cover
    background-position: center
    overflow: hidden
    color: #fff
    height: 1093px
